<div class="container">
  <img class="logo" src="./assets/img/logo.png" alt="logo" />
  <form action="" class="form">
    <ion-item>
      <ion-icon class="icon-input" name="person" slot="start"></ion-icon>
      <ion-input
        label="Usuario"
        labelPlacement="floating"
        placeholder="ingrese usuario"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon class="icon-input" name="lock-closed" slot="start"></ion-icon>
      <ion-input
        label="Password"
        labelPlacement="floating"
        placeholder="ingrese clave"
      ></ion-input>
    </ion-item>
  </form>
</div>
