.icon-input {
  margin-right: 10px;
}

.logo {
  height: 200px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form {
  background-color: #fff;
}
